<?php 
use Zend\Session\Container;
$sessao = new Container();

$url_order = 'ASC';
if ($this->order_by == 'id') {
    $url_order = ($this->order == 'ASC' ? 'DESC' : 'ASC');
} else if ($this->order_by == 'nome') {
    $url_order = ($this->order == 'ASC' ? 'DESC' : 'ASC');
}  

?>

<table class="table table-condensed table-striped">
    <thead>
        <tr>
            <th><a href="#" onclick="returnView('sac','chamados',<?php echo $this->page ?>,'index','<?php echo 'dados_'.$this->escapeHtml($this->div); ?>','<?php echo $this->escapeHtml($this->search_frase); ?>','<?php echo $this->escapeHtml($this->data_ini); ?>','<?php echo $this->escapeHtml($this->data_fin); ?>',0,'Chamados','id','<?php echo $url_order; ?>')" data-rel="<?php echo $this->escapeHtml($this->div);?>">Id <?php if ($this->order_by == 'id'): ?><i class="fa fa-sort-<?php echo $this->order == 'ASC' ? 'asc' : 'desc' ?>"></i><?php endif; ?></a></th>
            <th><a href="#" onclick="returnView('sac','chamados',<?php echo $this->page ?>,'index','<?php echo 'dados_'.$this->escapeHtml($this->div); ?>','<?php echo $this->escapeHtml($this->search_frase); ?>','<?php echo $this->escapeHtml($this->data_ini); ?>','<?php echo $this->escapeHtml($this->data_fin); ?>',0,'Chamados','nome','<?php echo $url_order; ?>')" data-rel="<?php echo $this->escapeHtml($this->div);?>">Cliente <?php if ($this->order_by == 'nome'): ?><i class="fa fa-sort-<?php echo $this->order == 'ASC' ? 'asc' : 'desc' ?>"></i><?php endif; ?></a></th>
            <th><a href="#" data-rel="<?php echo $this->escapeHtml($this->div);?>">Pedido</a></th>
            <th><a href="#" data-rel="<?php echo $this->escapeHtml($this->div);?>">Email</a></th>
            <th><a href="#" data-rel="<?php echo $this->escapeHtml($this->div);?>">Título</a></th>
            <th><a href="#" data-rel="<?php echo $this->escapeHtml($this->div);?>">Observação</a></th>
            <th><a href="#" data-rel="<?php echo $this->escapeHtml($this->div);?>">data</a></th>
            <th><a href="#" onclick="returnView('sac','chamados',1,'add','<?php echo $this->escapeHtml($this->div); ?>','','','',0,'Chamados')" data-rel="<?php echo $this->escapeHtml($this->div);?>">
                <i class="fa fa-plus-square"></i></a></th>
        </tr>
    </thead>
    <tbody> 
<?php foreach($this->dados as $dado) : ?>  
        <tr>
            <td><?php echo $this->escapeHtml($dado['t_id']);?></td>
        	<td><?php echo $this->escapeHtml($dado['c_nome']);?></td>
        	<td><?php echo $this->escapeHtml($dado['p_id']);?></td>
        	<td><?php echo $this->escapeHtml($dado['t_email']);?></td>
        	<td><?php echo $this->escapeHtml($dado['t_titulo']);?></td>
        	<td><?php echo $this->escapeHtml($dado['t_observacao']);?></td>
        	<td><?php echo $this->funcoes()->formataData($dado['t_dataCadastro']);?></td>
        	<td>
        		<a href="#" onclick="returnView('sac','chamados',1,'edit','<?php echo $this->escapeHtml($this->div); ?>','','','','<?php echo $this->escapeHtml($dado['t_id']);?>','Chamados')" data-rel="<?php echo $this->escapeHtml($this->div);?>">
                    <i class="fa fa-pencil-square"></i>                
                </a>
        	</td>
        </tr>    
<?php endforeach; ?>
    </tbody>
</table>

<?php
if($this->dados instanceof Zend\Paginator\Paginator) {
    echo $this->paginationControl(
        $this->dados,
        'Sliding',
        'sac/partials/paginator/paginator.phtml',
        array('div' => $this->div,
            'order_by' => $this->order_by,
            'order' => $this->order, 
            'page' => $this->page,
            'search_frase' => $this->search_frase,
            'data_ini' => $this->data_ini, 
            'data_fin' => $this->data_fin,
            'data_modulo' => 'sac',
            'data_ctrl' => 'chamados',
            'data_titulo' => 'Chamados',
        ));
}
?> 