<div class="container-fluid painel"> 
    <div class="form-group">
      <label for="id" class="col-sm-2 control-label">Id:</label>
      <div class="col-sm-6">
          <?php echo $this->formRow($form->get('id'), null, false);?>
      </div>
    </div>
    
     <div class="form-group">
      <label for="cliente" class="col-sm-2 control-label">Nome do cliente:</label>
      <div class="col-sm-6">
          <?php echo $this->formRow($form->get('clienteId'), null, false);?>
      </div>
    </div>
    
    <div class="form-group">
      <label for="pedido" class="col-sm-2 control-label">Número do pedido:</label>
      <div class="col-sm-2">
          <?php echo $this->formRow($form->get('pedidoId'), null, false);?>
       </div>
    </div>
    
    <div class="form-group">
      <label for="email" class="col-sm-2 control-label">E-mail:</label>
      <div class="col-sm-6">
          <?php echo $this->formRow($form->get('email'), null, false);?>
       </div>
    </div>
    
    <div class="form-group">
      <label for="titulo" class="col-sm-2 control-label">Título:</label>
      <div class="col-sm-6">
          <?php echo $this->formRow($form->get('titulo'), null, false);?>
       </div>
    </div>
    
    <div class="form-group">
      <label for="codigo" class="col-sm-2 control-label">Código:</label>
      <div class="col-sm-6">
          <?php echo $this->formRow($form->get('codigo'), null, false);?>
       </div>
    </div>
    
    <div class="form-group">
      <label for="observacao" class="col-sm-2 control-label">Observação:</label>
      <div class="col-sm-6">
          <?php echo $this->formRow($form->get('observacao'), null, false);?>
       </div>
    </div>
</div>
